.form_container{
    align-items: center;
    display:flex;
    flex-direction: column;
    width:100vw;

    form {
        max-width:600px;
        padding:5%;

        >*{
            margin-top:2vh;
        }
        
        >*:not(button){
            background-color: #eee;
            border-radius: 4px;
        }
      
    }


}