.logo_container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin:20px;
    min-height:20vw;
    min-width:10vw;

    .logo {
        background-color: blue;
        position: relative;
        text-align: center;

        * {
            position: absolute;
            min-height:128px;
            min-width:64px;
            height: 20vw;
            width: 10vw;
        }
        :nth-child(1){
            right:0;
        }
        :nth-child(2){
            left:0;
        }
    }

    @keyframes flip90 {
        from{
            transform:rotateY(0deg) scale(1)
        }
        to{
            transform:rotateY(90deg) scale(1.1)
        }
    }
    @keyframes flip180 {
        from{
            transform:rotateY(-90deg) scale(1.1)
        }
        to{
            transform:rotateY(0deg) scale(1)
        }
    }

    .flip90{
        animation: flip90 .5s ease-in 1 forwards;
    }
    .flip180{
        animation: flip180 .5s ease-out 1 forwards;
    }
}
